
/*---------------------------------- Universal Styles ----*/

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
}

html, body{
  margin: 0;
  padding: 0;
}

/*--------------------------------- Header Section --- */

.mobile,
.mobilelogo {
	display: none;
}

.header {
	display: flex;
	justify-content: center;
}

.header .container {
	/*width: 66.66rem;*/
	width: 99.9%;
	height: 3.875rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	background-color: #000000;
}

a {
	color: #ffffff;
}

.desktop ul {
	display: flex;
	padding-right: 3.4375rem;
}

ul li {
	padding: 1rem;

}

.logo {
	display: flex;
	/*font-size: 1.2rem;*/
}

.desktoplogo img {
	height: 3rem;
	max-width: auto;
	display: block;
	padding-left: 3.6875rem;
}

/*--------------------------------- Move Section ---------*/

.movesection {
	background-image: url(../assets/dancers-photo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 42.5rem;
	top: 2rem;
	display: flex;
	justify-content: center;
}

.movesection .container {
	display: flex;
	flex-flow: column;
	align-items: center;
	/*justify-content: center;*/
}



.movesection .moveinfo {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 65%;
	margin-top: 9.4375rem;
	text-align: center;
}

.moveinfo h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.125rem;
	font-weight: 700;
	margin-bottom: 2.6875rem;
}

.moveinfo p {
	font-size: 1.5rem;
	line-height: 1.5;
	padding-bottom: 5rem;
}

.button {
	display: flex;
}

.movesection .button a {
	border-radius: 2px;
	background-color: #f5a623;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.375rem;
	font-weight: 700;
	margin-bottom: 3.125rem;
}

.movesection .button p a {
	padding: 1.25rem 3.125rem;
}

/*----------------------------------------- Wall Section ------- */

.wallsection {
	background-image: url(../assets/graffiti-photo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 31.25rem;
	top: 2rem;
	display: flex;
	justify-content: flex-end;
}

.wallsection .container {
	
	
	display: flex;
}

.wallinfo {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 2rem;
	background-color: rgba(120, 73, 225, 0.9);
	width: 25rem;
	height: 20rem;
	margin-top: 6.25rem;
}

.wallsection h2 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.wallsection p {
	font-size: 1.125rem;
	line-height: 1.4;
	margin-bottom: 1rem;
	font-weight: 400;

}

.wallsection a {
	font-weight: 700;

}


/*------------------------------------------------ Fire Section --- */

.firesection {
	background-image: url(../assets/fire-photo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 31.25rem;
	top: 2rem;
	display: flex;
	justify-content: flex-end;
}


.firesection .container {
	display: flex;

}

.fireinfo {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 2rem;
	background-color: rgba(173, 74, 226, 0.9);
	width: 25rem;
	height: 20rem;
	margin-top: 6.2rem;
}

.firesection h2 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.firesection p {
	font-size: 1.125rem;
	line-height: 1.4;
	margin-bottom: 1rem;
	font-weight: 400;

}

.firesection a {
	font-weight: 700;

}

/* --------------------------------------- Cloud Section --- */

.cloudsection {
	background-image: url(../assets/jump-photo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 31.25rem;
	top: 2rem;
	display: flex;
	justify-content: flex-end;
}


.cloudsection .container {
	display: flex;

}

.cloudinfo {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 2rem;
	background-color: rgba(120, 73, 225, 0.9);
	width: 25rem;
	height: 20rem;
	margin-top: 6.25rem;
}

.cloudsection h2 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.cloudsection p {
	font-size: 1.125rem;
	line-height: 1.4;
	margin-bottom: 1rem;
	font-weight: 400;

}

.cloudsection a {
	font-weight: 700;

}

/*-------------------------------------- Footer Section ---*/

.footer {
	background-image: url('../assets/party-photo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 5rem;
	height: 18.125rem;

}

.footerco {
	display: flex;
	flex-flow: column;
}

.socialcontainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(120, 73, 225, 0.3);
	height: 3.125rem;
	padding: .7rem;	
}

.social {
	display: flex;
	width: 9.375rem;
	justify-content: space-between;
}

.location {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-top: 8.125rem;
	font-size: 0.875rem;
	letter-spacing: 0.7px;
}

.contactus {
	padding-right: 1rem;
}

address {
	padding-bottom: 1rem;

}

.footerdesktoplogo img {
	height: 2.5rem;
	padding-left: 1rem;
}


/*--------------------------------------- Media Queries ----*/ 

@media only screen and (max-width: 614px){

	.header .container {
	/*width: 66.66rem;*/
	width: 99.9%;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	background-color: #000000;
}

.mobilelogo img {
	height: 2rem;
	max-width: auto;
	display: block;
	padding-left: .625rem;
}
	 
	.desktoplogo {
		display: none;
	} 

	.mobilelogo {
		display: flex;
	}

	.container .logo {
		display: none;
	}

	.mobile ul {
	display: flex;
	padding-right: .625rem;
}

.mobile ul li {
	font-size: .75rem;
}

.mobilelogo img  {
	padding-left: 2.3rem;
}

.moveinfo h1 {
	font-size: 1.875rem;
	margin-bottom: 1.625rem;
}

.movesection .moveinfo {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: auto;
	width: 18.5rem;
	margin-top: 7.125rem;
	text-align: center;
}
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.moveinfo p {
	font-size: 1rem;
	line-height: 1.6;
}

}

@media only screen and (max-width: 820px){
	.movesection .moveinfo {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: auto;
	width: 60%;
	margin-top: 9.4375rem;
	text-align: center;
}


.moveinfo h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.125rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.mobilelogo img  {
	padding-left: 2.3rem;
}

.wallinfo,
.fireinfo,
.cloudinfo {
	width: 99.99%;
}

}

@media only screen and (max-width: 930px) {
	.wallinfo,
	.fireinfo,
	.cloudinfo {
	width: 99.99%;
	height: 9.25rem;
	margin-top: 17rem;

}

}




















































